<h1>Angular 2 | Hello World</h1>
<div *ngFor="let item of items; let i = index;" [class.item-is-completed]="item.isCompleted">
	<input type="checkbox" [id]='"item-" + i' [(ngModel)]="item.isCompleted" />
	<label class="item-text" [attr.for]='"item-" + i'>{{item.text}}</label>
	<button (click)="removeItem(i)">Remove</button>
</div>
<div>
	<input type="text" [(ngModel)]="newItemText">
	<button (click)="addItem(newItemText)">Add item</button>
</div>

